:root {
  --root-background-color: white;
  --primary-theme-color: #022445;
  --secondary-theme-color: #3d93de;
  --tertiary-theme-color: #3d93de;
  --primary-lite-background-color: #53738c;
  --primary-lite-background-color-2: #114371;
  --white-text-color: white;
  --light-blue-text-color: #7bacd3;
  --title-bg-color: #e7f4ff;
  --light-blue-row-color: #cbe2f5;
  --light-blue-border-color: #e2ecf5;
  --light-black-text-color: #5c5c5c;
  --dark-black-text-color: #404040;
  --medium-black-text-color: #848586;
  --body-background-color: #f2f2f2;
  --grey-text-color: #d5d5d5;
  --dark-grey-text-color: #8c8d8d;
  --href-text-color: #0072c6;
  --tab-disabled-bg-color: #e5e3e3;
  --tab-disabled-text-color: #acabab;
  --tab-disabled-text-color-2: #6c6c6c;
  --gradient-text-color: #7E7E7E;
  --gradient-text-color-2: #AAAAAA;
  --base-color-unavailable: #5d5d5d;
  --border-color: #fffcfc;
  --input-border-color: #c8c8c8;
  --input-border-radius: 0.5em;
  --grey-border-color: #CBCBCB;
  --grey-blue-border-color: #B7B7B7;
  --grey-background-color: #ddd;
  --grey-blue-background-color: #f4f7fa;
  --grey-green-background-color: #e5f1f2;
  --base-color-normal: #96c968;
  --base-color-major: #f59d08;
  --base-color-critical: #f75d58;
  --base-amplifier-alarm-color: #E2675E;
  --base-color-minor: #f8e525;
  --base-color-warning: #73c6b6;
  --base-color-information: #2b8bf6;
  --row-title-color: #eaf5f8;
  --row-value-color: #f5f5f5;
  --green-bg-color: #8cc63f;
  --dark-green-color: #7EA83B;
  --ticket-details-field-height: 35px;
  --overdue-ticket-color: #ffbfbf;
  --sub-header-color: #969696;
  --active-text-color: #0072c6;
  --bright-blue-color: #2da1e2;
  --blue-alarm-text: #79CEE8;
  --inactive-text-color: #a0a0a0;
  --inactive-color: #B7B7B7;
  --inactive-color-2: #CECECE;
  --title-text-color: #7fc1c8;
  --dark-aqua-color: #32B1BE;
  --light-cyan-blue: #b1d9fe;
  --lite-search-background-color: #e1e8ef;
  --lite-search-border-color: #7FBAC7;
  --dark-search-border-color: #718EBC;
  --toolbar-background-color: #1F2229;
  --toolbar-secondary-color: #292E37;
  --toolbar-tertiary-color: #373D48;
  --secondary-lite-background-color: #465469;
  --medium-dark-background-color: #3d4553;
  --medium-dark-background-color-2: #21314a;
  --deep-background-color: #23272e;
  --dark-blue-text-color: #9db6de;
  --table-blue-text-color: #002445;
  --blue-green-color: #a8e8ff;
  --aqua-color: #88d1d8;
  --mid-blue-text-color: #5b7e9f;
  --blue-text-color: #2C4965;
  --blue-number-color: #164A79;
  --header-panel-color: #93278f;
  --header-panel-color-2: #1b8ce2;
  --header-panel-color-3: #3d93de;
  --filter-header-color: #E4ECF4;
  --action-panel-color-2: #166cad;
  --grey-border-color-lite: #e2e4e6;
  --mid-grey-color: #6a6a6a;
  --light-navy-color: #1871b2;
  --save-button-color: #40a0a8;
  --grid-bg-color: #F4F7FA;
  --grid-fg-color: #D8E9FD;
  --grid-fg-disabled-color: #EDEDED;
  --host-tree-hover-color: #313848;
  --host-tree-child-color: #5E6B7E;
  --grey-divider-color: #74859F;
}
